@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  outline: none;
}

.edited-height {
  height: calc(80vh - 8rem);
}

.edited-height::-webkit-scrollbar {
  width: 2px;
}

.edited-height::-webkit-scrollbar-track {
  background: #565656;
}

.edited-height::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 1rem;
  border: 2px solid #f9fafb;
}

body,
html,
#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

input::placeholder,
textarea::placeholder,
select,
option {
  font-family: 'Poppins';
}
